.title {
  font-size: 27px;
  line-height: 44px;
  border-bottom: 1px solid #DDD;
  .row {
    .col {
      align-items: flex-end;
      mat-icon {
        font-size: 32px;
        height: auto;
        width: auto;
        padding-right: 7px;
        line-height: inherit;
      }
    }
    button {
      background-color: #4486EA;
      color: #FFF
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 12px;

    label {
      display: flex;
      font-size: 15px;
      line-height: 24px;
    }

    input, select {
      display: flex;
      background-color: #FFF;
      outline: none;
      border: 1px solid #D1D1D1;
      height: 42px;
      font-size: 16px;
      padding: 0 10px;
      color: #6D6262;
    }

    &.actions {
      align-items: flex-end;
    }

    button {
      margin-top: 30px;
      background-color: #3AB72F;
      color: #fff;

      &:disabled {
        background-color: #989;
        color: #cdc;
      }
    }
  }
}

.loader-wrapper {
  background-color: #00000099;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  backdrop-filter: blur(4px);
  padding: calc(50vh - 50px) calc(50vw - 50px);

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}